@* @model HelloModel *@

<h1>Hello @ViewData["Name"]</h1>
<h1>Hello @ViewData["St"]</h1>
@foreach(var i in ViewData["Arr"] as int[])
{
    <p>@i</p>
}

<div>@ViewBag.Hello @ViewBag.Name</div>
@foreach (var h in ViewBag.Smth as int[])
{
    <p>@h</p>
}