@model int[]

@functions
{int Sum(int a, int b)
{
    return a+b;
}
}

<p>
    Donec quis cursus augue. Morbi at pellentesque enim, id ultricies elit. Duis metus tortor, vulputate non tristique quis, elementum non ipsum. Morbi varius nisl nec blandit hendrerit. Etiam lobortis, dolor in pulvinar efficitur, magna dui posuere lectus, a tempus est dui at metus. Sed non facilisis est, ac cursus mi. Etiam in sapien pellentesque, blandit arcu nec, porttitor quam. Nulla id varius lacus, ut aliquam mauris. Mauris congue urna at semper tristique.
</p>
<p>
    Donec eget neque feugiat, viverra nibh sit amet, accumsan odio. Nam nec viverra eros. Nam egestas porta metus at accumsan. Proin viverra sodales justo nec pretium. Integer vulputate est at nisi porttitor maximus. Vivamus consequat mi a libero molestie faucibus. Maecenas venenatis diam sed est placerat ornare. Maecenas at neque vulputate, egestas ligula ut, vulputate nibh. Aenean elementum leo vel sagittis varius.
</p>
<div>
    <p>
        @DateTime.Now.ToString("g")
    </p>
</div>

<div>20+30</div>
<div>@(20+30) +2</div>
<div>@Sum(5,7)</div>

@foreach (var i in Model)
{
    if (i%2==0)
    {<h1>@i</h1>}
    else
    {<h3>@i</h3>}

}