@using DataConvert.DTO

@model UserDto


@{
    ViewBag.Title = "Профиль";
    Layout = "_Layout";
}


<div class="container d-flex justify-content-center" style="height: 100vh; align-items: flex-start; padding-top: 50px;">
    <div class="cardGeneral p-5 shadow-lg" style="width: 100%; max-width: 800px;">
        <h4 class="card text-center mb-1">Редактирование профиля</h4>

        <div style="height: 30px;">
            <div id="validationSummary" asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <div style ="height:70px" class="pb-1">
        @if (TempData.ContainsKey("Saved"))
        {
            <div class="alert alert-info text-info ">
                @TempData["Saved"]
            </div>
        }
        </div>

        <form asp-action="Profile" asp-controller="User" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
             <input type="hidden" name="RoleId" value="@Model.RoleId" />

            <input asp-for="@Model.Email" class="mb-4 pt-0 form-control  readonly-input" style="color:midnightblue; font-size:24px" readonly>

            <div class="mb-4 ">
                <input asp-for="@Model.CreatedDate" type="hidden" class="mb-4 form-control readonly-input" readonly>Зарегистрирован: @Model.CreatedDate
               </div>

            <div class="mb-4 ">
                <label for="@Model.Name" class="form-label">Никнейм</label>
                <input asp-for="@Model.Name" class="form-control" maxlength="40" />
            </div>

            <div class="form-check form-switch">
                <input asp-for="@Model.IsSubscribed" class="form-check-input" type="checkbox" id="IsSubscribed">
                <label class="form-check-label" for="IsSubscribed">Подпискка на рассылку новостей</label>
            </div>

            <div class="mb-4">
                <label for="PositivityRange" class="form-label">Рейтинг позитивности : </label>
                <span id="PositivityRate">@Model.PositivityRate</span>   
                
                <input asp-for="@Model.PositivityRate" type="range" class="form-range" min="-5" max="5" step="0.1" id="PositivityRange" value="@Model.PositivityRate">

            </div>

            <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn btn400 btn-lg" style="width: 50%;">Сохранить</button>
                <a asp-controller="Home" asp-action="Index" method="get" type="button" class="btn btn400 btn-lg" style="width: 50%;">Отмена</a>
            </div>

        </form>
        <div class="d-flex justify-content-center">
            <form asp-controller="User" asp-action="DeleteUser" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить профиль?');">
                <input type="hidden" name="Id" value="@Model.Id" /> 
                <button type="submit" class="btn btn-danger btn-lg">Удалить профиль</button>
            </form>

        </div>
    </div>
</div>

<script>
    window.addEventListener("load", function () {
        const rangeInput = document.getElementById("PositivityRange");
        const rangeDisplay = document.getElementById("PositivityRate");

        if (rangeInput) {
            let positivityRate = parseFloat("@Model.PositivityRate".replace(",", "."));
            rangeInput.value = positivityRate;
            rangeInput.setAttribute("value", positivityRate);
            rangeDisplay.textContent = positivityRate;
            rangeInput.addEventListener("input", function () {
                rangeDisplay.textContent = rangeInput.value;
            });
        } else {
            console.error("PositivityRange not found");
        }
    });
</script>



@* <a asp-controller="User" asp-action="DeleteUser" method="post" type="submit" class="btn btn-danger btn-lg">Удалить профиль</a> *@