@model ArticleDtoCollectionModel

@{
    ViewBag.Title = "Агрегатор хороших новостей";
    Layout = "_Layout";
}

<div> 
    <ul class="highlighted" float=left id="currentTime"></ul>
</div>

<div>
    <h5>
        Элементов на странице:
        <a asp-action="Index" asp-route-page="@Model.PageInfo.PageNumber" asp-route-pageSize="5" class="@(Model.PageInfo.PageSize == 5 ? "active-link" : "")" style="@(Model.PageInfo.PageSize == 5 ? "style1" : "")">5</a>
        <a asp-action="Index" asp-route-page="@Model.PageInfo.PageNumber" asp-route-pageSize="10" class="@(Model.PageInfo.PageSize == 10 ? "active-link" : "")" style="@(Model.PageInfo.PageSize == 10 ? "style1" : "")">10</a>
        <a asp-action="Index" asp-route-page="@Model.PageInfo.PageNumber" asp-route-pageSize="15" class="@(Model.PageInfo.PageSize == 15 ? "active-link" : "")" style="@(Model.PageInfo.PageSize == 15 ? "style1" : "")">15</a>
    </h5>
</div>

<div>
    <a class="btn  btn400" asp-action="Aggregate" asp-controller="Articles">Aggregate</a>
    <a class="btn  btn400" asp-action="Index" asp-controller="Sources">Sources</a>
</div>

@foreach (var article in Model.ArticleDtos)
{
    <div class="cardGeneral">
        <div>
            <div class="card">@article.Title</div>
            <br>
            <h5>@article.Created</h5>
        </div>
        <div>
            <p>
                @Html.Raw(article.Description)
            </p>          
            <a asp-action="Details" asp-controller="Articles" asp-route-id="@article.Id">Подробнее</a>
        </div>
        <div>
            <h4>@article.SourceName</h4>
            <span>Rate: @article.PositivityRate</span>
        </div>
    </div>

}
<br>
<div class="d-flex justify-content-center">
<pagination page-action="index" page-info="Model.PageInfo"></pagination>
</div>


<script>
    function updateTime() 
    {
        var now = new Date();
        var options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            hour12: false
        };
        document.getElementById("currentTime").innerHTML = now.toLocaleString('ru-RU', options);
    }

    setInterval(updateTime, 500);
    updateTime();
</script>
