@using System.Security.Claims
@model ArticleModelsCollection

@{
    ViewBag.Title = "Агрегатор хороших новостей";
    Layout = "_Layout";
}

<div>
    <ul class="highlighted shadow-lg" float=left id="currentTime"></ul>
</div>

<div>
    <h5>
        Элементов на странице:
        <a asp-action="Index" asp-route-page="@Model.PageInfo.PageNumber" asp-route-pageSize="15" class="@(Model.PageInfo.PageSize == 15 ? "active-link" : "")" style="@(Model.PageInfo.PageSize == 15 ? "style1" : "")">15</a>
        <a asp-action="Index" asp-route-page="@Model.PageInfo.PageNumber" asp-route-pageSize="30" class="@(Model.PageInfo.PageSize == 30 ? "active-link" : "")" style="@(Model.PageInfo.PageSize == 30 ? "style1" : "")">30</a>
        <a asp-action="Index" asp-route-page="@Model.PageInfo.PageNumber" asp-route-pageSize="50" class="@(Model.PageInfo.PageSize == 50 ? "active-link" : "")" style="@(Model.PageInfo.PageSize == 50 ? "style1" : "")">50</a>
    </h5>
</div>

<div>
    @if (User.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == "Admin"))
    {
        <a class="btn  btn400" asp-action="Aggregate" asp-controller="Articles">Сбор/оценка</a>
        <a class="btn  btn400" asp-action="Index" asp-controller="Sources">Список источников</a>
    }
</div>


<div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>
@foreach (var article in Model.ArticleModels)
{
    <div class="col-12 col-md-4 mb-3">
        <div class="cardGeneral shadow-lg">
            <div>
                <div class="card">@article.Title</div>
                <br>
                <h5>@article.Created</h5>
            </div>
            <div>
                <p>
                    @Html.Raw(article.Description)
                </p>
                <a asp-action="Details" asp-controller="Articles" asp-route-id="@article.Id">Подробнее</a>
            </div>
            <div>
                <h4>@article.SourceName</h4>
                <span>Rate: @article.PositivityRate</span>
            </div>
        </div>
    </div>
}

    </div>
</div>
<br>
<div class="d-flex justify-content-center">
    <pagination page-action="index" page-info="Model.PageInfo"></pagination>
</div>


<script>
    function updateTime()
    {
        var now = new Date();
        var options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            hour12: false
        };
        document.getElementById("currentTime").innerHTML = now.toLocaleString('ru-RU', options);
    }
    setInterval(updateTime, 500);
    updateTime();

</script>
