@using DataConvert.DTO
@using System.Security.Claims
@model ArticleModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="cardGeneral shadow-lg">
    <div class="card shadow-lg"><h2>@Model.Title</h2></div>
    <hr>
    <p>
        <span>Создано @Model.Created</span>
    </p>

    @if (Model.Updated != null)
    {
        <p>
            <span>Изменено @Model.Updated</span>
        </p>
    }

    <p>
        <h6>Рейтинг позитивности: @Model.PositivityRate</h6>
    </p>

    <div>

        <div>
            <p>
                @Model.Content
            </p>
        </div>
    </div>

    @if (User.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == "Admin"))
    {
        <div class="mx-auto btn-group">
            <form asp-action="EditArticle" asp-controller="Articles" method="get">
            <input type="hidden" name="Id" value="@Model.Id" />
            <button type="submit" class="btn btn400">Редактировать</button>
        </form>

        <form asp-action="Delete" asp-controller="Articles" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <button type="button" class="btn btn400" onclick="confirmDelete()">Удалить</button>
        </form>
        
        <form>
            <a class=" btn  btn400" asp-action="Index" asp-controller="Home">На главную</a>
        </form>
    </div>
    }
</div>

<script>
    function confirmDelete() {
        const userConfirmed = confirm("Вы уверены, что хотите удалить эту запись?");
        if (userConfirmed) {
            const form = event.target.closest('form');
            form.submit();
        }
    }
</script>